.master_result{
  /* display: flex; */
}
.id_result{
  /* background-color: #2FF5F5; */
  display:block;
}
.rand_result{
  /* background-color: #30FFC4; */
  /* position:absolute; */
  display:none;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.detail-page {
  width: 5%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.detail-question {
  width: 65%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: left;
}

.detail-answer {
  width:30%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
  color:#fff;
}